@page "/"
@using Marcware.BulkyConvert.Converters;
@inject IUnitConversionService ConversionService

<div class="container-fluid p-0 conversions-list-container">
    @foreach (var converter in ConversionService.GetAllUnitConverters().Where(c => SeeAllConversions || c.IsFrequentlyUsedConverter).OrderBy(c => c.UnitDomain).ThenBy(c => c.Name))
    {
        <div class="row no-gutters conversion-list-domain-row">
            <div class="col-12">
                @converter.UnitDomain
            </div>
        </div>

        <div class="row no-gutters conversion-list-convert-row">
            <div class="col-12">
                <NavLink class="nav-link" href="@($"convert/{converter.Name}")">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @converter.InputUnit.PluralName to @converter.OutputUnit.PluralName
                    <span class="float-right">&gt;</span>
                </NavLink>
            </div>
        </div>
    }

    <div class="row no-gutters conversion-list-button-row">
        <div class="col-12 d-flex justify-content-center">
            <button @onclick="SelectAllButtonClick">@GetButtonText()</button>
        </div>
    </div>
</div>


@code {
    public bool SeeAllConversions { get; set; }

    public void SelectAllButtonClick(MouseEventArgs e)
    {
        SeeAllConversions = !SeeAllConversions;
    }

    public string GetButtonText()
    {
        return SeeAllConversions ? "Show common" : "Show all";
    }
}


